<h1>Software</h1>
<ul>
  <li><a href="http://rglab.github.io/MAST/">MAST: single cell differential gene expression</a></li>
  <li><a href="https://github.com/amcdavid/HurdleNormal">HurdleNormal: Estimation of graphical networks in zero-inflated Gaussians</a></li>
<li><a href="https://amcdavid.github.io/CellaRepertorium/">CellaRepertorium: statistical analysis of single cell adaptive immune receptor sequences</a></li>
</ul>
<h1>Publications</h1>
<ul>
<li><a href="https://scholar.google.com/citations?user=0N2lgg0AAAAJ&hl=en">Google Scholar profile</a></li>
</ul>
